
body {
  background-color: #000;
  color: #ff0;
}
header, nav, main, footer {
  color: #ffffff;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav a {
  color: #ff0;
  text-decoration: none;
}
main {
  align-items: center;
  justify-content: center;
}
main img {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}
footer {
  text-align: center;
}
